# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment folders
env/
venv/
.venv/

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# Add files or directories to ignore
/Users/vibhu/PycharmProjects/Secret-Santa/data/participants-byob.csv
/Users/vibhu/PycharmProjects/Secret-Santa/data/forbidden_pairs-byob.csv
